.profile-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 0 10;
    box-shadow: 3px 3px 9px #888888;
    margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
    .profile-img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }
    h2 {
        font-size: 1.5rem;
    }
    p {
        font-size: 13px;
    }
}