.card {
    background-color: transparent;
    border: none;
    height: 380px;
}

.Ripple-parent {
    width: 100px;
    margin: auto;
}

.card img {
    width: 100px;
    margin: auto;
    height: 25%;
    object-fit: contain;
    filter: grayscale(.8);
}

.card-body {
    background-color: #9ba4b41a;
    margin-top: 15px;
}

.col-4 {
    padding: 5px;
}

.ul-experience {
    padding-inline-start: 20px !important;
    margin-top: .5rem;
    margin-bottom: 0;
}

.ul-experience li {
    margin-bottom: 0.2rem;
}

.ul-experience li p {
    line-height: 1;
    margin: 0;
}

.carousel-indicators > li {
    background-color: rgba(1, 7, 53, 1);
}

@media only screen and (max-width: 600px) {

}