/* Carousel */

.Ripple-parent {
    width: 100px;
    margin: auto;
}
.card {
    background-color: transparent;
    border: none;
    height: 380px;
}

.card-body {
    background-color: #9ba4b41a;
    margin-top: 15px;
    padding: 1rem;
}

.card img {
    width: 100px;
    margin: auto;
    height: 100px;
    object-fit: contain;
    filter: grayscale(.8);
}

.card-title, .card-text p {
    margin-bottom: .2rem;
}

.carousel-indicators > li {
    background-color: rgba(1, 7, 53, 1);
}

/* Additional Achievements */

.ul-experience {
    padding-inline-start: 20px !important;
    margin-top: .5rem;
    margin-bottom: 0;
}

.ul-experience li {
    margin-bottom: 0.2rem;
}

.ul-experience li p {
    line-height: 1;
    margin: 0;
}

@media only screen and (min-width: 768px) and (max-width: 850px) {
    .card {
        height: 400px;
    }
    .col-md-4 {
        padding-right: 5px;
        padding-left: 5px;
    }
}