.card {
    background-color: transparent;
    border: none;
    height: 320px;
}

.card-img-top {
    width: 100px;
    margin: auto;
    height: 25%;
    object-fit: contain;
    filter: grayscale(.8);
}

.card-body {
    background-color: #9ba4b41a;
    margin-top: 15px;
}

.col-4 {
    padding: 5px;
}

.ul-experience {
    padding-inline-start: 20px !important;
}

li {
    line-height: 2;
}

@media only screen and (max-width: 600px) {
    .card {
        height: 300px;
        margin-bottom: 5%;
    }
    .underline--text {
        margin-bottom: 5%;
    }
}