.card-body {
    padding: 1rem;
}
.card-title, .card-text p {
    margin-bottom: .2rem;
}

@media only screen and (max-width: 600px) {
    h3 {
        font-size: 1.35rem;
    }
    #edu-container {
        overflow: scroll;
    }
}