footer {
    background-color: #14274e;
    padding: 2% 0% 1% 0%;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin: auto;
}
.social-icon-link {
    list-style: none;
    padding: 2% 2.5%;
    background-color: #fafafa;
    border-radius: 50%;
}

.social-icon-link i {
    color: #14274e;
    font-size: 1.4rem;
}

.social-icon-link:hover {
    transform: scale(1.3)
}

ul {
    padding-inline-start: 0px;
}

@media only screen and (max-width: 600px) {
    .social-icon-link i {
        font-size: 1rem;
    }
    .social-icon-link {
        padding: 1% 4%;
    }
  }
