.app {
  text-align: center;
  background-color: grey;
}

.container-fluid, .container {
  padding: 0;
  margin: auto;
  background-color: #f1f6f9;
}

.main-container {
  scroll-snap-type: y mandatory;
}

.container-section {
  scroll-snap-align: start;
  height: 100vh;
}

.container {
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  margin: 0;
  justify-content: center;
}

.col-10 {
  margin: auto;
}
